@{
    ViewData["Title"] = "Home Page";
}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<script type="text/javascript" src="~/js/base.js"></script>
<script type="text/javascript" src="~/js/handsontable.full.min.js"></script>
<link rel="stylesheet" href="~/css/handsontable.full.min.css" />
<link rel="stylesheet" href="~/css/pikaday.css" />

<script type="text/javascript" src="~/js/utils.js"></script>
<script type="text/javascript" src="~/js/customRenderers.js"></script>
<link rel="stylesheet" href="~/css/styles.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable@12.1.2/languages/pt-BR.js"></script>

<div id="example"></div>

<script type="text/javascript" src="~/js/index.js"></script>
